[self]
download-dir = .
old-etc = /mnt/old/etc
old-var = /mnt/old/var
# restores an old zsh_history if present
# old-root = /mnt/old/root

[init]
device = /dev/nbd0
#mirror = /dev/vdc
cryptsetup = true
# set to false when installing to removable media
# the fallback yields UEFI bootmanager updates
uefi-fallback = false
# set to false when installing to removable media
# with the hostonly option dracut excludes some kernel modules
# => smaller initramfs, but less portable to different hardware
hostonly = true
# Set `password-file = -` if you prefer an interactive prompt
password-file = pw
release = 29
authorized-keys = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJiOapffNVEts4+HdJMj3Swo+ru6O6warWBP7KJm6SQX juser@example.org

[target]
rpmfusion-fingerprint = BD12 7385 C312 090F F2F3  5FA1 1191 A7C4 42F1 9ED0
# package-list = package.list
# unpackage-list = unpackage.list
git-name = Joe User
git-mail = juser@example.org
hostname = hostb.example.org
user = juser
init-user = false
locale = LANG=en_US.UTF-8
timezone = Europe/Berlin
enable-services = 
restore-postfix = false
restore-postgres = false
setup-pamu2f = false
setup-nfsd = false
#mount-points = /mnt/main
#    /mnt/backup
custom-etc-files =
