SyslogFacility                  AUTHPRIV
PermitRootLogin                 prohibit-password
AuthorizedKeysFile              .ssh/authorized_keys
AuthenticationMethods           publickey
UsePAM                          no
X11Forwarding                   no
Subsystem sftp                  internal-sftp

AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE

