SyslogFacility                  AUTHPRIV
PermitRootLogin                 prohibit-password
AuthorizedKeysFile              .ssh/authorized_keys
AuthenticationMethods           publickey
UsePAM                          no
X11Forwarding                   no
Subsystem sftp                  internal-sftp

